.page {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #3A5F56;
    margin: 0;
}

.header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-height: 70px;
    align-items: center;
}

.header__logo {
    width: 113px;
    height: 30px;
    margin: auto 0;
}

.header__menu {
    max-width: 488px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style-type: none;
    margin-right: 20px;
}

.header__link {
    padding-right: 10px;
}

.header__button {
    width: 122px;
    height: 44px;
    display: flex;
    border: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3A5F56;
    border-radius: 6px;
}

.header__basket {
    width: 24px;
    height: 24px;
}

.header__text {
    line-height: 22px;
    color: #FFFFFF;
}

.header__count {
    border-radius: 10px;
    background-color: white;
    min-width: 20px;
}

.background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.background-gradient_place_promo {
    background: radial-gradient(723px 813px at -5% 135%, rgba(184, 125, 88, 1) 0%, rgba(184, 125, 88, 0) 100%),
                radial-gradient(564px 494px at 94% 5%, rgba(58, 95, 86, 0.55) 0%, rgba(58, 95, 86, 0) 100%);
}

.background-gradient_place_services {
    background: radial-gradient(500px 500px at 0% 115%, rgba(58, 95, 86, 0.55) 0%, rgba(58, 95, 86, 0) 100%);
}

.background-gradient_place_contact {
    background: radial-gradient(500px 500px at 25% 130%, rgba(184, 125, 88, 0.35) 0%, rgba(184, 125, 88, 0) 100%);
}

.promo {
    margin: auto;
    background-color: #F4F3F0;
    height: 970px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.promo__block-text {
    max-width: 583px;
    margin-right: 65px;
}

.promo__title {
    font-size: 48px;
}

.promo__button-more {
    color: #fff;
    border: none;
    background-color: #3A5F56;
    border-radius: 6px;
    width: 118px;
    height: 44px;
}

.promo__photo {
    border-radius: 34px;
    width: 552px;
    object-fit: none;
}

.services {
    padding: 100px 0;
    display: grid;
    justify-items: center;
    position: relative;
}

.services__title {
    font-size: 32px;
    margin: 15px 0;
}

.services__description {
    max-width: 580px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

.services__list {
    margin: 40px auto 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    row-gap: 16px;
}

.service {
    padding: 30px;
    width: 320px;
    height: 240px;
    display: grid;
    gap: 15px;
    border-radius: 16px;
    background-color: #F4F3F0;
}

.service__name {
    margin: 0;
}

.service__description {
    margin: 0;
    color: #000;
}

.service__link-more {
    display: flex;
    gap: 10px;
    align-items: center;
}

.service__arrow {
    width: 20px;
    height: 10px;
}

.contact {
    width: 100%;
    height: 460px;
    position: relative;
    display: flex;
}

.contact__frame {
    width: 800px;
    height: 260px;
    margin: auto;
    background-color: #F4F3F0;
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact__text {
    font-size: 28px;
    line-height: 34px;
    color: #292C32;
    width: 38%;
}

.contact__button {
    width: 125px;
    height: 58px;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #3A5F56;
    border-radius: 6px;
}

.form__title {
    font-size: 14px;
    line-height: 20px;
    color: #B87D58;
}

.form__subtitle {
    line-height: 22px;
    color: #FFFFFF;
}

.form__label {
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    background-color: #F9FAFB;
    width: 90%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form__input {
    border: none;
    background-color: #F9FAFB;
    width: 310px;
}

.form__submit {
    width: 70px;
    height: 40px;
    background-color: #292C32;
    color: #FAFAFC;
    border: none;
    border-radius: 10px;
}

.footer {
    background-color: #292C32;
    display: grid;
    grid-template-columns: 692px 460px;
    grid-template-rows: 190px 1fr 140px;
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    justify-content: center;
}

.footer__title {
    margin: 100px auto 75px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 40px;
    line-height: 43px;
    grid-area: 1 / 1 / 2 / 3;
}

.footer__catalog {
    display: flex;
    flex-wrap: wrap;
}

.footer__block {
    min-width: 220px;
}

.footer__block_title {
    font-size: 14px;
    line-height: 20px;
    color: #B87D58;
}

.footer__block_list {
    padding: 0;
    margin: 0;
}

.footer__block_link {
    list-style-type: none;
    line-height: 22px;
    color: #FFFFFF;
}

.footer__author_text {
    color: #FFFFFF;
}

.footer__author_link {
    color: #FFFFFF;
    text-decoration: none;
}

.footer__social {
    min-width: 160px;
    display: flex;
    justify-self: end;
    justify-content: space-evenly;
}

.footer__icon {
    list-style-type: none;
}