.page {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header__logo {
    width: 113px;
    height: 30px;
    margin: auto 0 auto 16px;
}

.header__menu {
    max-width: 488px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style-type: none;
    margin-right: 20px;
}

.header__link {
    line-height: 16px;
    color: #3A5F56;
    padding-right: 10px;
}

.header__button {
    width: 122px;
    height: 44px;
    display: flex;
    border: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3A5F56;
    border-radius: 6px;
}

.header__basket {
    width: 24px;
    height: 24px;
}

.header__text {
    line-height: 22px;
    color: #FFFFFF;
}

.header__count {
    border-radius: 10px;
    background-color: white;
    min-width: 20px;
}
